{% extends 'base.html.twig' %}

{% block title %}New BookLibrary{% endblock %}

{% block body %}
    <h1>Create new BookLibrary</h1>

    {{ include('book_library/_form.html.twig') }}

    <a href="{{ path('app_book_library_index', { library: book_library.library.id }) }}">back to list</a>
{% endblock %}
